# for academic purposes
_academic/

# for py VIRTUAL_ENV
backend/.venv/

# for py
backend/py/__pycache__/

# for cpp
backend/cpp/*.exe
backend/cpp/forwardIndex
backend/cpp/invertedIndex
forwardIndex
invertedIndex
backend/cpp/*.o

# dataset setting
backend/data/*
!backend/data/.gitkeep

# dataset output files
backend/indexes/*
!backend/indexes/.gitkeep

# IDE settings
backend/cpp/cmake-build-debug/
backend/.idea/
backend/cpp/.idea/

